/***** 
COLOR CHEAT SHEET 
https://coolors.co/cb997e-eddcd2-fff1e6-ddbea9-a5a58d-b7b7a4
cb997e - buff
eddcd2 - champagne pink
fff1e6 - linen
ddbea9 - desert sand
a5a58d - sage
b7b7a4 - ash gray

*****/


/********************/
/******* FONTS ******/
/********************/
body, p {
    font-family: "Lora", system-ui;
}

h1, h2, h3, h4, h5, h6 {    
    font-family: "Sacramento", cursive;
}

/********************/
/******* HERO ******/
/********************/
header.masthead {
    background: url("../img/bg.webp");
    background-position: center;
    background-size: cover;
}

/********************/
/******* COlORS ******/
/********************/
.btn-primary {
    background: #ddbea9;
    border: 2px solid #ccaf9c;
}
.btn-primary:hover {
    background: #ccaf9c;
    border: 2px solid #ddbea9;
}