/***** 
COLOR CHEAT SHEET 
https://coolors.co/880d1e-dd2d4a-f26a8d-f49cbb-ffffff
880d1e- dark red
dd2d4a- light red
f26a8d- bright pink
f49cbb- light pink
ffb7ce- lighter pink
ffffff- white
*****/

/********************/
/******* FONTS ******/
/********************/

body, p {
    font-family: "Lora", system-ui;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {    
    font-family: "Sacramento", cursive;
}

/********************/
/******* HERO ******/
/********************/

header.masthead {
    background: url("../img/bg.webp");
    background-position: center;
    background-size: cover;
}

header.masthead h1 {
    color: #dd2d4a;
    font-size: 115px;
    text-shadow: 1px 1px 1px #880d1e;
}

header.masthead p {
    color: #f26a8d;
    font-size: 30px;
    text-shadow: 1px 1px 1px #880d1e
}

/********************/
/******* COlORS ******/
/********************/

.btn-primary {
    background: #dd2d4a;
    border: 2px solid #880d1e;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background: #880d1e !important;
    border: 2px solid #dd2d4a !important;
}

.btn-light, .btn-light:visited, .btn-light:focus  {
    background: #f49cbb;
    border: 2px solid #dd2d4a;
}

.btn-light:hover, .btn-light:active {
    background: #dd2d4a !important;
    border: 2px solid #f49cbb !important;
}

hr.divider {
    background-color:#dd2d4a;
    height: .4rem;
}

hr {   
     color:#880d1e;  
     border-top: 2px solid;  
     opacity: 0.25;
}

.bg-primary {
    background-color: #f26a8d !important;
}

.text-primary {
    color: #f49cbb !important;
}

.text-white-50 {
    color: rgb(255, 255, 255) !important;
}

.bg-dark {
    background-color:#ffb7ce !important;
}

.text-muted {
    color: black !important;
}

/********************/
/******* NAV ******/
/********************/

#mainNav.navbar-shrink {
    background-color: #dd2d4a;
    font-family: "Lora", system-ui;
}

#mainNav.navbar-shrink .navbar-brand {
    color: white
}

#mainNav.navbar-shrink .navbar-nav .nav-item .nav-link{
    color: white
}

#mainNav.navbar-shrink .navbar-nav .nav-item .nav-link:hover,
#mainNav .navbar-nav .nav-item .nav-link.active,
#mainNav.navbar-shrink .navbar-brand:hover {
	color: #ffb7ce !important;
}

/********************/
/******* TOP 6 ******/
/********************/

#portfolio .container-fluid .portfolio-box .portfolio-box-caption, #portfolio .container-sm .portfolio-box .portfolio-box-caption, #portfolio .container-md .portfolio-box .portfolio-box-caption, #portfolio .container-lg .portfolio-box .portfolio-box-caption, #portfolio .container-xl .portfolio-box .portfolio-box-caption, #portfolio .container-xxl .portfolio-box .portfolio-box-caption {
    background: #ffb7ce9e;
}